In [ ]:
import datetime as dt
import pandas as pd
import yfinance as yf

In [ ]:
stocks = ["AMZN", "MSFT", "META", "GOOG"]
start = dt.datetime.today() - dt.timedelta(3650)
end = dt.datetime.today()
cl_price = pd.DataFrame()
ohlcv_data = {}

#looping over tickers and creating a dataframe with close prices
for ticker in stocks:
    cl_price[ticker] = yf.download(ticker,start,end)["Adj Close"]

In [ ]:
#filling Nan Values
cl_price.fillna(method = 'bfill', axis = 0, inplace = True)
#cl_price.fillna(0)
#filling with 0's or 1's
#cl_price.fillna({"META":0, "GOOG":1})

In [12]:
#dropping NaN Values
cl_price.dropna(axis = 1, how = 'any')

                  AMZN        MSFT        META        GOOG
Date
2013-09-23   15.574500   27.416960   47.189999   22.079741
2013-09-24   15.706500   27.174107   48.450001   22.088207
2013-09-25   15.632500   27.224348   49.459999   21.848854
2013-09-26   15.906000   27.442083   50.389999   21.872267
2013-09-27   15.800500   27.860796   51.240002   21.827934
...                ...         ...         ...         ...
2023-09-14  144.720001  338.700012  311.720001  138.990005
2023-09-15  140.389999  330.220001  300.309998  138.300003
2023-09-18  139.979996  329.059998  302.549988  138.960007
2023-09-19  137.630005  328.649994  305.070007  138.830002
2023-09-20  135.289993  320.769989  299.670013  134.589996

[2516 rows x 4 columns]